.pd-5{
    padding: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.ml-5{
    margin-left: 5px;
}.add-dialog-container{
    padding: 10px;
    width: auto;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}.flex-align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}